      #header{
        background-color: white;
        width: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        background: #EEEEEE;
         justify-content: center;
      }

      h1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: black;
        color: #555555;
        font-size: 42px;
        font-family: Helvetica;
      }
        
       span{
            color: #FF7373;
            font-family: Helvetica;
       } 

      .main{
        width: 670px;
        height: auto;
        background: white;
        max-width: 700px;
        padding-left: 8%;
        padding-top: 70px;


    }

     .underdiv{
        width: 450px;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
      }


     .input{
        color: #515151;
        font-family: Helvetica;
        background-color: #E3E3E3;
        padding: 2px 7px;
    	height: 25px;
    	width: 400px;
    	font-size: 17px;
    	font-family: Helvetica;
    	box-shadow: none;
    	border: 2px solid #E3E3E3;
        border-radius: 10px 0 0 10px; 
    }

    #flexed{
        display: flex;
        flex-direction: row;
           justify-content: center;
    }

    #first{
    display: flex;
    flex-direction: column;
    background: #EEEEEE;



    }
    .mainContainer{
        display: flex;
    }

    #second{
        display: flex;
        flex-direction: column;
        background: #EEEEEE;
    }
    .remove{
        position: relative;
        border-radius: 0 10px 10px 0;
        background-color: white;
        width: 25px;
        height: 23px;
        bottom: 1px;
        padding: 6px 3px 0 0;
    }

    .check{
        background-color: white;
        position: relative;
        bottom: 1px;
        border-radius:  10px 0 0 10px;
        width: 25px;
        padding: 6px 0 0 5px;

    }
    .newInput{
        position: relative;
         bottom: 1px;
         color: grey;
         font-size: 15px;
         font-family: helvetica;   
         background: white;
         border: 0px solid white;
         width: 450px;
         height: 28px;
         padding: 1px 0 0 10px;

    }
    .container{
        display: flex;
        width: 450px;
        flex-direction: row;
        margin-bottom: 4px;
    }

    .but{
         font-weight: bold;
         height: 33px;   
         color: #FF8484;
         border-style: solid;
         border-color: #BABABA;
         background-color:  #BABABA; 
         border-radius: 0 10px 10px 0;
         padding-left: 8px;
         padding-right: 8px;

    }
    .checked{
         border: 3px solid #E6E6E6;
         background-color:#E6E6E6;
         text-decoration: line-through;
         width: 450px;
         color: grey;
         height: 23px;
         font-size: 15px;
         font-family: helvetica;
         padding:0 6px;  

    }
    .checkedremove{
        border-radius:  0 10px 10px 0;
        border: 3px solid #E6E6E6;
        background-color:#E6E6E6;
        height: 21px;
        padding: 2px 4px 0 0;

    }
    .checkedcheck{ 
         padding: 2px 0 0 2px;
         position:relative; 
         border-radius:  10px 0 0 10px;
         border: 3px solid #E6E6E6;
         background-color:#E6E6E6;
    }


@media only screen and (max-width : 1000px){

#flexed{
    display: flex;
    flex-direction: column;
}

 .main{
        padding-left: 25%;

    }


@media only screen and (max-width : 700px){

#flexed{
    display: flex;
    flex-direction: column;
}

 .main{
        padding-left: 10%;

    }

